In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
titanic = pd.read_csv("train.csv")
titanic
titanic.info()
titanic.describe()
titanic.loc[titanic["Age"]>= 30, "Name"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
6                                McCarthy, Mr. Timothy J
11                              Bonnell, Miss. Elizabeth
                             ...
873                          Vander Cruyssen, Mr. Victor
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881                                   Markun, Mr. Johann
885                 Rice, Mrs. William (Margaret Norton)
890                                  Dooley, Mr. Patrick
Name: Name, Length: 330, dtype: object

In [3]:
pd.pivot_table(data=titanic, index="Sex", values="Survived", aggfunc=["mean", "sum", "count"])
pd.pivot_table(data=titanic, index=["Pclass", "Sex"], values="Survived", aggfunc=["count", "sum", "mean"])

                 count      sum      mean
              Survived Survived  Survived
Pclass Sex
1      female       94       91  0.968085
       male        122       45  0.368852
2      female       76       70  0.921053
       male        108       17  0.157407
3      female      144       72  0.500000
       male        347       47  0.135447